<div class="pedido-page-wrapper">
  
  @switch (view()) {
    
    <!-- TELA DE LISTAGEM -->
    @case ('list') {
      <div [style.display]="isLoading() ? 'none' : 'block'">
        <app-pedidos-list
          [pedidos]="pedidos()"
          (novoPedido)="onNovoPedido()"
          (selecionarPedido)="onSelecionarPedido($event)">
        </app-pedidos-list>
      </div>

      @if (isLoading()) {
        <div class="loading-state">
          <span class="material-symbols-outlined spin-icon">progress_activity</span>
          <p>Carregando pedidos da boleria...</p>
        </div>
      }
    }

    <!-- TELA DE DETALHES (Placeholder) -->
    @case ('detail') {
      @if (pedidoSelecionado()) {
        <div class="placeholder-screen">
          <h2>Detalhes do Pedido #{{ pedidoSelecionado()?.id }}</h2>
          <p>Cliente: {{ pedidoSelecionado()?.clienteNome }}</p>
          <button class="btn-secondary" (click)="view.set('list')">Voltar para a Lista</button>
        </div>
      }
    }   

    <!-- TELA DE FORMULÁRIO DE PEDIDO (Novo/Editar) -->
    @case ('create') {
      <app-pedidos-form
        [pedidoParaEditar]="$any(pedidoSelecionado())"
        (cancelar)="view.set('list')"
        (salvar)="onSalvarPedido($event)">
      </app-pedidos-form>
    }
  }

</div>